/* # Tutorialpython custom css
*/


/* Overrides Style.css
Ojo con hacer el override sobre cosas que en caso de móviles se
modifican.
¿Poner al final de este archivo todo lo de móviles de style.css?
------------------------------------------------------------ */

/* Tabla de Contenidos
-------------------------------------------------------------*/
.sidebarwrapper{
    background-color: #eeeeee;
    padding: 10px 5px 5px 10px;
    color: #444444;
    line-height: 1;
    border-radius: 10px;
}

.sidebarwrapper ul{
    margin-left: 20px;
}

.sidebarwrapper a{
    color: #444444;
    text-decoration: none;
}

.sidebarwrapper .selected{
    font-weight: bold;
}

.sidebarwrapper a:hover {
    text-decoration: underline;
}

.sidebarwrapper .tablecontent{
    display: list-item;
    text-align: left;
    list-style-type: square;
/*    font-size: smaller;*/
}

.sidebarwrapper .cabecera{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;    
}
