<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	
<h1>Sistema de envia de datos</h1>
	

	<form action="" method="post" accept-charset="utf-8">
		
		Introduzca un Texto <input type="text" name="texto" value="" placeholder="">
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>

	<h3>Valor de la variable recibida:</h3> <p>{{datos}}</p>

	<ul><h4>Mostrar una lista:</h4>
		{% for x in dia %}
		<li>{{ x }}</li>
		{% endfor %}

	</ul>

	<select name="" id="input" class="form-control" required="required">
		Crear un Select 
		{% for x in dia %}
		<option value="">{{x}}</option>
		{% endfor %}
	</select>
</body>
</html>