<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{titulo}}</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Hola Flask</h1>
	{{Autor}}
	<p><h3>Lista</h3> </p>
	<ul>
		{% for x in fecha %}
		<li>{{x}} </li>
		
		{% endfor %}

		 
		
	</ul>
		

</body>
</html>