    body{
        background-image: url(../img/sala.jpg);
        background-repeat: no-repeat;
        background-size: cover;
               
        color:white;
    }

    #control{
        background-color: white;
        padding-bottom: 20px;
        border-width: 10;
        border-radius: 5px;
        border: 1px solid black;
        opacity: 0.8;
        color: #152869;
    filter: alpha(opacity=60);
    }

    #sensor{
        background-color: white;
        border: 1px solid black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        border-width: 10;
        color: #152869;
        border-radius: 5px;
    }