<!DOCTYPE HTML>
<html>
<title>{{titulo}}</title>
<!-- Adaptacion: Luis Americo Auyadermont -->

<link rel="stylesheet" type="text/css" href="../static/css/AdminLTE.min.css">
<link rel="stylesheet" type="text/css" href="../static/bower_components/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../static/bower_components/bootstrap/dist//css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/estilo.css">

<!-- Libreria de Jquery -->
<script src="../static/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- Libreria de Grafica con ChartJS --><!-- 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> -->
 <script src="../static/js/Chart.min.js"></script>

 <!--Libreria para enviar datos en Tiempo Real  -->
<script src="../static/js/socket.io.js"></script>


 
 
<body>

 

    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});

            });


            socket.on('message', function(msg){
                console.log(msg.time);

                $('#test').html('<p> Contador de Tiempo: ' + msg.time +  '</p>');




            });

            socket.on('message2', function(msg){
                console.log(msg.num);
                 

                $('#test2').html('<p> Temperatura: ' + msg.num +  '</p>');

                //  Definion de la Grafica de  datos 
                var ctx = document.getElementById("Grafica").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ["Min","Temperatura: "+msg.num, "Max"],
                        datasets: [{
                            label: '# Sensor de Temperatura',
                            data: [5,msg.num, 100],
                            backgroundColor: [ //Colores de los datos

                            '#25F301',

                            '#FE0F0F',
                            '#0038E9',
                            'rgba(75, 192, 192, 0.2)', 
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                            ],

                            borderWidth: 1
                        }]
                    },

                });

                // Fin del Bloque de grafica circular 'PIE'

            });

        });
</script>
 <script>


</script>

{% block contenido %}
    {% endblock %}
    
 

</body>
</html>