{% extends "index.html" %}

{% block contenido %}
<script src="../static/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="../static/js/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            
            socket.on('message', function(msg){
                console.log(msg.time);
                
                $('#test').html('<p> Contador de Tiempo: ' + msg.time +  '</p>');             
            });

            socket.on('message2', function(msg){
                console.log(msg.num);
                
                $('#test2').html('<p> Numero aleatorio: ' + msg.num +  '</p>');             
            });
          
        });
    </script>


{% endblock %}
 
 