

{% extends "index.html" %}
 
{% block contenido %}
<body>

		<div class="container">
			<div class="row" align="center">
				<h1> Demo-Flask-SocketIO- Simulador de Sensor de Temperatura</h1>	
			</div>
			
			<div class="row" align="center">
				<p>Adaptado por: Luis Americo Auyadermont Muñoz</p>
			</div>
			


			<div  class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="center">
				<div id="sensor" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

					<h3>Datos del Sensor</h3>
					<div class="row">
						<p id='test'> Esperando Datos </p>
						<p id='test2'>Otro</p> 

					</div>


				</div>

			</div>
			<div id="control" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div align="center"> <h3>Control de Temperatura</h3> 
				<canvas id="Grafica">

				</canvas>
				</div>
			</div>
		</div>


</body>

{% endblock %}


  

