<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	
<h1>Sistema de envia de datos</h1>
	

	<form action="" method="post" accept-charset="utf-8">
		
		Buscar un Cedula en Mongodb: <input type="text" name="texto" value="" placeholder="">
	</form>

	<h3>Valor de la variable recibida: {{datos}}</h3>
	<p>{{x}}</p>
	<p>Direccion de {{datos}}:{{valor}}</p>
</body>
</html>